.DogCard {
  box-sizing: border-box;
  display: inline-block;
  padding: 3vw;
  width: 33vw;
}

h2 {
  font-size: 2rem;
  font-weight: 800;
  margin: 0;
  text-align: center;
}

.dog-card-dog {
  border: thick solid #048eaa;
  border-radius: 50%;
  display: block;
  margin: 40px auto;
  width: 15vw;
}

p {
  font-weight: 600;
  font-size: 1.4rem;
  height: 310px;
}

.dog-card-footer {
  background-color: #048eaa;
  color: #ffffff;
  margin-top: 50px;
  padding: 14px 0;
}