.Footer {
  background-color: #048eaa;
  color: #ffffff;
  padding: 50px 0;
}

h3 {
  font-size: 1.4rem;
  font-weight: 600;
  margin: 0;
  text-align: center;
}

.social-links {
  margin: 30px auto 0 auto;
  width: 300px;
}

.footer-img {
  height: 50px;
  margin: 10px;
}